* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background-color: rgb(68, 92, 100);
}

.container {
	padding: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

input,
textarea {
	background-color: rgb(255, 255, 154);
	height: 50px;
	width: 300px;
	margin-top: 10px;
}

button {
	width: 70px;
	height: 35px;
	border-radius: 10px;
	background-color: yellow;
	margin-top: 10px;
}
